<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247045207206-m68ev475d7j8nkn0s9ehgvmapcn29bj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247045207206-m68ev475d7j8nkn0s9ehgvmapcn29bj7</string>
	<key>API_KEY</key>
	<string>AIzaSyCHEyosF99YvyMerkhsHZ4pVwpr5You6nU</string>
	<key>GCM_SENDER_ID</key>
	<string>247045207206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shuxinweng.ArtiPic</string>
	<key>PROJECT_ID</key>
	<string>artipic-64b3e</string>
	<key>STORAGE_BUCKET</key>
	<string>artipic-64b3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247045207206:ios:cd72ec937de16f4d44b067</string>
</dict>
</plist>